body {
  background-image: url("https://images.unsplash.com/photo-1480365443306-930b898cb434?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1936&q=80");
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

.App {
  height: 100vh;
}
